body {
  font-family: "DIN W02 Light", sans-serif, Arial, Helvetica;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.Main {
  display: flex;
  justify-content: center;
  width: 100%;
} 

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.Gallery {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.back-button {
  opacity: 70%;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  opacity: 100%;
}

.listItem {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.listItem:hover {
  opacity: 1;
}

.logo-mobile {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
