body {
  font-family: 'DIN W02 Light', sans-serif,Arial, Helvetica, ;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.Main {
  display: flex;
  justify-content: center; /* Adjust alignment based on needs */
  width: 100vw;
}

.Container {
  box-sizing: border-box;
}

.Gallery {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.back-button {
  opacity: 70%;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  opacity: 100%;
}

.listItem {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.listItem:hover {
  opacity: 1;
}

.logo-mobile {
  font-size: 1.2rem;
  text-align: left;
}
